<!DOCTYPE html>
<html lang="en" ng-app="app"  ng-controller="GeneratorController">
<head>   
    <meta charset="UTF-8">
    <title data-ng-bind="page.title"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./scripts/angular.min.js"></script>   
    <script src="./scripts/app.js"></script>
    <script src="./scripts/angular-generator.js"></script>
    <script src="./scripts/constants.js"></script>
    <link rel="stylesheet" href="./styles/global.css"> 
    <link rel="stylesheet" href="./styles/responsive.css"> 
    <link rel="stylesheet" href="./styles/typing.css"> 
</head>
<body>
    <div id="generator" ng-show="PortfolioFinalized == false">
        <div class="row centralized header">
            <span style="font-size: 1.8rem">Portfolio Generator</span>
        </div>
        <form style="margin-top: 10rem">  
            <label for="username" style="font-size: 1.2rem;">Qual o seu username no Github?</label>
            <input type="text" id="username" ng-model="Username" placeholder="luizcamargo99">
            <label for="phone" style="font-size: 1.2rem;">Coloque o número do seu celular com DDD</label>
            <input type="tel" id="phone" ng-model="Phone" placeholder="13988758452" maxlength="11">
            <label for="linkedin" style="font-size: 1.2rem;">Tem Linkedin? Se sim, insira o link aqui!</label>
            <input type="text" id="linkedin" ng-model="Linkedin" placeholder="https://www.linkedin.com/in/luiz-camargo99/">
            <button ng-click="GeneratePortfolio()"  ng-disabled="(IsEmpty(Username) || IsEmpty(Phone)) || Loading">{{Loading ? 'Gerando Portfolio' : 'Gerar Portfolio'}}</button>
        </form>   
        <div class="centralized column footer">
            <span style="text-align: center;">© {{CurrentYear}} - Todos os direitos reservados | Criado por <a href="https://github.com/luizcamargo99/portfolio-generator" target="_blank">Portfolio Generator</a> 
            </span>
        </div> 
    </div>

    <div id="portfolio" ng-show="PortfolioFinalized">
        <div class="row centralized header" style="position: fixed;">
            <span id="name"><a href="#portfolio">{{Profile.name_title}}.dev</a></span>
            <ul class="row centralized" id="menu">
                <li><a href="#projects">Projetos</a></li>
                <li><a href="#contact">Contato</a></li>
                <li><button ng-click="OpenUrlNewTab(Linkedin)" ng-if="IsEmpty(Linkedin) == false">Veja meu Linkedin</button></li>
            </ul> 
        </div>
        <div id="banner" class="column centralized">
            <img src="{{Profile.avatar_url}}" alt="profile-photo" id="profile-photo" class="circle">
            <span id="name-banner">{{Profile.name}}</span>
            <span id="bio" class="anim-typewriter">{{Profile.bio.trim()}}</span>
        </div>
        <div id="projects" class="column centralized" style="gap: 2rem">
            <h1>Projetos</h1>
            <div class="row centralized" style="gap: 2rem;">
                <div class="card centralized column" ng-repeat="repo in Profile.Repositories">
                    <span id="project-name">{{repo.name}}</span>
                    <span id="project-description">{{repo.description}}</span>
                    <div id="projects-technologies" class="centralized">
                        <div id="project-technology" ng-repeat="lang in repo.Languages | limitTo: 4">
                            <span id="technology-name"> {{lang}} </span>
                        </div>
                    </div>
                    <button ng-click="OpenUrlNewTab(repo.html_url)">Ver projeto! 👀</button>
                </div>
            </div>
            <button style="width: 12rem;" ng-click="OpenUrlNewTab(Profile.html_url)">Ver todos os projetos...</button>
        </div>
        <div id="contact" class="column centralized" style="gap: 5rem;">
            <h1>Contato</h1>
            <div class="centralized row" style="gap: 2rem;">
                <a href="{{LinkWhatsapp}}" target="_blank">
                    <img src="./assets/whatsapp.png" alt="whatsapp" class="circle" style="width: 12rem;">
                </a>
                <a href="{{Linkedin}}" target="_blank" ng-if="IsEmpty(Linkedin) == false">
                    <img src="./assets/linkedin.png" alt="linkedin" class="circle" style="width: 12rem;">
                </a>
            </div>
        </div>

        <div class="centralized column footer">
            <span style="text-align: center;">© {{CurrentYear}} - {{Profile.name}}. Todos os direitos reservados | Criado por <a href="https://github.com/luizcamargo99/portfolio-generator" target="_blank">Portfolio Generator</a> 
            </span>
        </div>
    </div>   
</body>
</html>