<!DOCTYPE html>
<html lang="en" ng-app="app"  ng-controller="GeneratorController">
<head>   
    <meta charset="UTF-8">
    <title data-ng-bind="page.title"></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./scripts/angular.min.js"></script>   
    <script src="./scripts/app.js"></script>
    <script src="./scripts/angular-generator.js"></script>
    <script src="./scripts/constants.js"></script>
    <link rel="stylesheet" href="./styles/global.css"> 
</head>
<body>
    <!-- <form ng-show="PortfolioFinalized == false">  
        <label for="username">Qual o seu username no Github?</label>
        <input type="text" id="username" ng-model="Username">
        <button ng-click="GeneratePortfolio()">{{Loading ? 'Gerando Portfolio' : 'Gerar Portfolio'}}</button>
    </form> -->

    <!-- ng-show="PortfolioFinalized" -->
    <div id="portfolio">
        <div id="header" class="row centralized">
            <span id="name">luizcamargo.dev</span>
            <ul class="row centralized" id="menu">
                <li><a href="#about">Sobre</a> </li>
                <li><a href="">Projetos</a></li>
                <li><a href="">Tecnologias</a></li>
                <li><a href="">Contato</a></li>
                <li><button id="linkedin-button">Ver meu Linkedin</button></li>
            </ul>
 
        </div>
        <div id="banner" class="column centralized">
            <img src="https://avatars.githubusercontent.com/u/59785233?v=4" alt="profile-photo" id="profile-photo" class="circle">
            <span id="name-banner">Luiz Camargo</span>
            <span id="bio">A Full Stack Developer passionate about creating things that impact lives through technology.</span>
        </div>
        <div id="about">
            <h2>Sobre</h2>
        </div>
    </div>   
</body>
</html>