@media (min-width: 1185px) {
  #bio{
    position: relative;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
    }

    .anim-typewriter{
    animation: typewriter 5s steps(44) 1s 1 normal both,
                blinkTextCursor 500ms steps(44) infinite normal;
    }

    @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
    }
}